version: "3.9"

services:

  core-api:
    build: ./core-api
    ports:
      - "8086:8086"
    restart: always
    environment:
      - SERVER_PORT=8086

  chaos-service:
    build: ./chaos-service
    ports:
      - "8001:8001"
    restart: always
    environment:
      - CHAOS_ERROR_RATE_PERCENT=100

  service-b:
    build: ./service-b
    ports:
      - "8002:8002"
    restart: always
    environment:
      - CHAOS_URL=http://chaos-service:8001
    
  service-a:
    build: ./service-a
    ports:
      - "8087:8087"
    restart: always

  
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    restart: always
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - prometheus
    volumes:
      - grafana-storage:/var/lib/grafana
volumes:
  grafana-storage: