version: "3.9"

services:

  core-api:
    build: ./core-api
    ports:
      - "8086:8086"
    environment:
      - SERVER_PORT=8086

  chaos-service:
    build: ./chaos-service
    ports:
      - "8001:8001"

  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./observability/prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
